
@import url('https://fonts.googleapis.com/css?family=Nunito:600');
h1 {
	font-size: 75px;
	text-align: center;
	margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  padding: 0 0 0 18px;
}
h2 {
  font-size:25px;
  text-align: center;
}
header {
	margin: 0 auto;
	text-align: center;
  padding: 0 0 30px 0;
}
body {
  	  margin: 0 auto;
  	  text-align: center;
      background: url("https://wallpaper-house.com/data/out/6/wallpaper2you_109365.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
      list-style-position: inside;
      max-width: 800px;
}
p {
	  margin: 0 auto;
}
li {
      margin: 0 auto;
      display: inline;
      text-align: center;
      padding: 0px 10px 0px 10px;
    }

::placeholder {
color: white;
    }

@media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
      
    }
{box-sizing: border-box;}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: grey;

}

.form-container input[type=text], .form-container input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px; 0 20px 0;
  border: none;
  background: #646464;
}

.contact-button {
  background-color: #555;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  opacity: .7;
  position: fixed;
  bottom: 23px;
  left: 28px;
  width: 280px;
}

.form-container .btn {
  background-color: #555;
  color: white;
  padding: 15px 20px;

}


